<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path "nb2njcysxpiuoa1qscxi", height: 300, width: 400, crop: :fill %>')">
  <h1>Mister Cocktail</h1>
</div>

<% @cocktails.each do |cocktail| %>
  <%= cl_image_tag cocktail.photo.key, height: 300, width: 400, crop: :fill %>
  <%= link_to cocktail.name, cocktail_path(cocktail) %>
  <br>
<% end %>

<%= link_to "Create cocktail", new_cocktail_path%>

